# Don't push original data files
data/

# Don't push train/val/test images
train_images*
validation_images*
test_images*

# Keep BERT Checkpoints Locally
Milestone2-*/

# Keep CLIP checkpoints locally
Milestone #4
Milestone_4

# Keep ResNet local
Milestone #2